* {
	padding: 0;
	margin: 0;
	font-family: 'Oswald';
	scroll-behavior: smooth;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'Oswald';
	src: local('Oswald'), url('./fonts/Oswald-VariableFont_wght.ttf');
}

p,
h1,
h2,
h3,
h4,
h5,
input,
li,
textarea,
button {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}